/* Swiper navigation buttons */
.swiper-button-prev,
.swiper-button-next {
  width: 36px;
  height: 36px;
  backdrop-filter: blur(10px); /* Blur effect */
  background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent */
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  color: #000;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: rgba(255, 255, 255, 0.3);
  transform: scale(1.05);
}

/* Adjust icon size inside the button */
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 16px;
}

.toto {
  padding: 10px 0px 10px 0px;
}
